/*=================== Обнуление стилей ======================*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
   padding: 0;
}
ul {
   list-style: none;
   padding: 0;
   margin: 0;
}
a {
   text-decoration: none;
   padding: 0;
   margin: 0;
}
/*=================== Общие стили ======================*/
:root {
   --basic-color: #555555;
   --title-color: #303030;
   --for-card-color: #9DA4BD;
   --white-color: #FFFFFF;
   --button-color: #FF6C00;
}
body {
   font-family: 'Open Sans';
   font-size: 18px;
   line-height: 1.66;
   letter-spacing: 0.02em;
}
.container {
   width: 1170px;
   padding: 0px 15px;
   margin: 0 auto;
}
.subtitle-silver {
   font-size: 11px;
   font-weight: 600;
   line-height: 1.36;
   color: rgba(157, 164, 189, 0.6);
   text-transform: uppercase;
}
.subtitle-dark {
   font-size: 11px;
   font-weight: 600;
   line-height: 1.36;
   color: var(--title-color);
   text-transform: uppercase;
}
.title {
   font-family: 'Raleway';
   font-size: 42px;
   font-weight: 700;
   line-height: 1.16;
   letter-spacing: 0.05em;
   color: var(--title-color);
}
.button {
   padding: 12px 20px;

   font-size: 12px;
   font-weight: 600;
   letter-spacing: 0.09em;
   text-transform: uppercase;
   background-color: inherit;

   color: var(--white-color);
   border: 1px solid var(--button-color);
   border-radius: 25px;

   cursor: pointer;
}
.line-silver {
   display: inline-block;
   height: 1px;
   width: 60px;
   margin-right: 20px;
   border: 1px solid rgba(157, 164, 189, 0.6);
}
.line-dark {
   display: inline-block;
   height: 1px;
   width: 60px;
   margin-right: 20px;
   border: 1px solid var(--title-color);
}
.box {
   display: flex;
   align-items: center;
}
/*=================== MENU ======================*/
.menu {
   width: 1070px;
   margin: 0 auto;
   padding: 0px 15px;
}
.menu__container {
   background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url('../img/hero.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 1070px;
   height: 680px;
   margin: 0 auto;
   padding: 0px 15px;
}
.menu__navigation {
   display: flex;
   align-items: center;
   justify-content: end;
   padding-top: 40px;

   font-size: 12px;
   font-weight: 600;
   line-height: 1.33;
   letter-spacing: 0.1em;
}
.menu__navigation-list {
   display: flex;
   gap: 30px;
}
.menu__navigation-link {
   color: var(--white-color);
}
.menu__navigation-link:hover {
   color: var(--button-color);
}
.menu__navigation-contacts {
   margin-left: 254px;
}
.menu__navigation-tel {
   margin-right: 43px;
   color: var(--white-color);
}
.menu__navigation-tel:hover {
   color: var(--button-color);
}
.menu__navigation-button:hover{
   background-color: var(--button-color);
}
.menu__content {
   padding: 184px 0px 208px 0px;
   margin-left: 75px;
}
.menu__subtitle {
   position: relative;
}
.menu__title {
   margin: 20px 0px;

   font-family: 'Raleway';
   font-size: 72px;
   font-weight: 700;
   line-height: 1.18;
   letter-spacing: 0.05em;
   color: var(--white-color);
}
.menu__text {
   color: var(--for-card-color);
}
.menu__nextback {
   display: flex;
   justify-content: end;

   gap: 62px;
   margin-top: 144px;

   font-size: 11px;
   font-weight: 600;
   line-height: 1.36;
   letter-spacing: 0.1em;
}
.menu__nextback-back {
   position: relative;
   color: var(--white-color);
}
.active {
   color: var(--for-card-color);
}
.menu__nextback-back::after {
   content: "";
   position: absolute;
   width: 60px;
   left: 0px;
   bottom: -8px;
   border: 1px solid var(--white-color);
}
.menu__nextback-back.active::after {
   border: 1px solid var(--for-card-color);
}
.menu__nextback-next {
   position: relative;
   color: var(--white-color);
}
.menu__nextback-next::after {
   content: "";
   position: absolute;
   width: 60px;
   right: 0px;
   bottom: -8px;
   border: 1px solid var(--white-color);
}
/*=================== ASIDE ======================*/
.sidebar {
}
.sidebar__container {
   width: 100px;
}
.sidebar__logo {
}
.sidebar__logo-icon {
   width: 69px;
   height: 56px;
}
.sidebar__menu {
}
.sidebar__list {
   font-size: 11px;
   font-weight: 600;
   line-height: 1.36;
}
.sidebar__list-item {
}
.sidebar__list-instagram {
   color: black;
}
.sidebar__list-youtube {
   color: black;
}

/*=================== ABOUT ======================*/
.about__container {
   width: 1170px;
   margin: 0 auto;
   padding: 120px 15px;
}
.about__content {
   display: flex;
}
.about__content-foto {
   display: flex;
   gap: 30px;
}
.about__content-text {
   margin-left: 30px;
}
.about__content-title {
   margin: 20px 0px;
}
.about__content-textmore {
   font-size: 14px;
   line-height: 1.85;

   margin: 20px 0px 42px 0px;
}
.about__content-button {
   color: var(--title-color);
}
.about__content-button:hover {
   background-color: var(--button-color);
   color: var(--white-color);
}
/*=================== PRICE ======================*/
.price {
   background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url('../img/price.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 1600px;
   height: 692px;
   margin: 0 auto;
   padding: 120px 0px;
}
.price__body-title {
   margin: 20px 0px 44px 0px;

   color: var(--white-color);
}
.price__cards {
   display: flex;

   gap: 30px;
   margin-bottom: 44px;
}
.price__card-first,
.price__card-second  {
   padding: 30px 20px;
   width: 570px;
   height: 240px;
   background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.price__card-item {
   display: flex;
   justify-content: space-between;
   align-items:baseline;
   margin-bottom: 20px;
}
.price__card-item:last-child {
   margin-bottom: 0px;
}
.price__card-servises,
.price__card-prices {
   color: var(--for-card-color);
}
.price__card-line {
   border: 1px solid rgba(157, 164, 189, 0.12);
   width: 25%;
}
.price__button {
   display: flex;
   justify-content: center;
}
.price__body-button:hover {
   background-color: var(--button-color);
}
/*=================== STATISTIC ======================*/
.statistic {
   padding: 120px 0px;
}
.statistic__container {
   display: flex;
}
.statistic__list {
   display: flex;
   margin-right: 130px;
   width: 50%;
   column-gap: 30px;
   row-gap: 30px;
}
.statistic__list-card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;

   width: 170px;
   height: 133px;
   background-color: #F7F7F7;
   border: 1px solid black;
}
.statistic__list-subtitle {
   font-size: 42px;
   font-weight: 700;
   line-height: 57px;
   letter-spacing: 0.05em;
}
.statistic__list-text {
   font-size: 11px;
   font-weight: 600;
   line-height: 1.36;
}
.statistic__content {
   width: 50%;
}
.statistic__content-subtitle {
}
.statistic__content-title {
   margin: 20px 0px;
}
.statistic__content-text {
   color: var(--basic-color);
}
/*=================== TEAM ======================*/
.team {
}
.team__container {
}
.team__body {
}
.team__body-subtitle {
}
.team__body-title {
}
.team__card {
}
.team__card-item {
}
.team__card-name {
}
.team__card-class {
}
.team__card-list {
}
.team__card-social {
}
.team__card-icon {
}
.team__card-inst {
}
.team__card-twit {
}
.team__card-fb {
}
.team__card-link {
}
/*=================== PORTFOLIO ======================*/
.porfolio {
}
.portfolio__container {
}
.portfolio__title {
}
.portfolio__list {
}
.portfolio__list-item {
}
/*=================== CONTACTS ======================*/
.contacts {
}
.contacts__container {
}
.contacts__contact {
}
.contacts__list {
}
.contacts__list-item {
}
.contacts__list-address {
}
.contacts__list-phone {
}
.contacts__list-email {
}
.contacts__subtitle {
}
.contacts__text {
}
.contacts__booking {
}
.contacts__booking-title {
}
.contacts__booking-form {
}
.contacts__booking-name {
}
.contacts__booking-phone {
}
.contacts__booking-message {
}
.contacts__booking-button {
}
/*=================== FOOTER ======================*/
.footer {
}
.footer_container {
}
.footer-copyright {
}
.footer__nav {
}
.footer-nav-item {
}
.footer-nav-inst {
}
.footer-nav-youtube {
}